@require './_*.styl'

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: linear-gradient(#56abd8, #27313e);
  padding: 0;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: transparent;
  height: 50px;
  padding: 15px 10px 0px 10px;
  color: white;
  text-transform: uppercase;

  font-family: 'Roboto', sans-serif;
  .title {
    font-size: 1.3em;
    text-align: left;
    margin-top: -5px;
    @media screen and (max-width: 620px) {
      top: 0;
      width: 100%;
      text-align: center;
    }
    @media screen and (max-width: 400px) {
      font-size: 1em;
    }
  }
  .sharable-link {
    text-align: right;
    font-size: 1em;
    position: relative;
    top: -38px;
    margin-right: 40px;
    width: auto;
    .url-to-copy {
      position: relative;
      width: 150px;
    }
    @media screen and (max-width: 700px) {
      margin-right: 20px;
    }
    @media screen and (max-width: 620px) {
      top: 0;
      width: 100%;
      text-align: center;
    }
  }
}



.container {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  font-family: 'Work Sans', sans-serif;
  @media screen and (max-width: 900px) {
    display: initial;
  }
  ul, li {
    padding: 0; 
    margin: 0;
    width: 300px;
    list-style: none;
    @media screen and (max-width: 400px) {
      width: 100%;
    }
  }

  li {
    padding: 15px 40px 15px 40px;
    @media screen and (max-width: 400px) {
      padding-left: 0;
      padding-right: 0;
      width: 100%;
    }
  }
  .by-set-reveal, .by-mythic-reveal, .by-slot-reveal {
    width: 380px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    @media screen and (max-width: 400px) {
      padding-left: 0;
      padding-right: 0;
      width: 100%;
    }
  }

  .left, .right {
    flex-grow: 1;
    padding-top: 25px;
    @media screen and (max-width: 900px) {
      width: 100%;
    }
  }
  .left {
  }
  .right {
    height: calc(100vh - 135px);
    min-height: 600px;
    overflow-y: scroll;
    color: white;
    padding-bottom: 100px;
    .equipment {
      @media screen and (max-width: 400px) {
        width: 100%;
      }
    }
    .bonuses {
      width: 300px;
      height: 100px;
      height: auto;
      position: relative;
      margin: 0 auto;
      margin-top: 14px;
      padding-bottom: 5px;
      ul, li {
        list-style: none;
        padding: 0;
        margin: 0;
        @media screen and (max-width: 400px) {
          width: 98%;
          left: 1%;
        }
      }
      .bonus-mythics, .bonus-sets {
        padding: 20px 0px;
      }
      .bonus-mythic-name {
        color: mythic-red;
        text-shadow: 0 0 3px #000;
      }
      .bonus-set-name {
        color: set-blue;
        text-shadow: 0 0 3px #000;
      }
      .bonus-pet-name {
        color: set-blue;
        text-shadow: 0 0 3px #000;
      }
      .bonus-pet-name-legendary {
        color: legendary-yellow !important;
      }
    }
    .set-information {
      display: none;
      &:hover {
        padding-top: 5px;
        display: block;
      }
    }
    .item-name {
      font-family: 'Roboto', sans-serif;
      letter-spacing: 1.05px;
      color: white;
      @media screen and (max-width: 400px) {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
      }
    }
    .click-on-this {
      display: block;
      &:hover {
        + .set-information{
          padding-top: 5px;
          display: block;
        }
      }
      cursor: pointer;
      letter-spacing: 1.05px;
      color: white;
    }
    .set-bonuses, .mythic-bonus, .mythic-slot, .set-location, .mythic-location {
      font-size: 13px;
    }
    .by-set-reveal {
      @media screen and (max-width: 400px) {
        width: 100%;
      }
    }
    .by-set-reveal-sub {
      padding-top: 15px;
      li {
        text-align: left;
        border:1px solid #e7cfa8;
        padding-left: 0;
        padding-right: 0;
        marign-bottom: 2px;
        &:active {
          border: 2px solid #fedc5b;
        }
      }
      span:nth-child(1) {
        color: set-blue;
        text-shadow: 0 0 5px #000;
      }
    }
    .by-mythic-reveal, .by-slot-types-reveal {
      li {
        border:2px solid #e7cfa8;
        margin-bottom: 1px;
        &:active {
          border: 3px solid #fedc5b;
        }
      }
      @media screen and (max-width: 400px) {
        width: 100%;
      }
    }
    .by-mythic-reveal {
      .item-name {
        color: mythic-red;
        text-shadow: 0 0 5px #000;
      }
      @media screen and (max-width: 400px) {
        width: 100%;
      }
    }

    .left-span-name {
      position: relative;
      left: 10px;

    }
    .right-span-slot {
      font-size: 13px;
      right: 10px;
      padding-top: 3px;
      position: absolute;
    }
    .by-slot-types {
      ul {
        position: relative;
        left: -40px;
        margin-top: 15px;
        @media screen and (max-width: 400px) {
          left: -2px;
        }
      }
      .by-slot-types-reveal {
        li {
          font-family: 'Work Sans', sans-serif;
          font-size: 13px;
        }
      }
      li {
        cursor: pointer;
      }
      .by-slots-type-set, .by-slots-type-pet-set {
        color: set-blue;
        text-shadow: 0 0 5px #000;
      }
      .by-slots-type-mythic {
        color: mythic-red;
        text-shadow: 0 0 5px #000;
      }
      .by-slots-type-legendary, .bonus-pet-name-legendary, .by-slots-type-pet-legendary {
        color: legendary-yellow !important;
        text-shadow: 0 0 5px #000;
      }
    }
  }
  .equipped {
    width: 400px;
    min-height: 600px;
    height: auto;

    margin: 0 auto;
    padding-top: 15px;
    position: relative;
    @media screen and (max-width: 400px) {
      width: 100%;
    }
    .equipped-container {
      width: 100px;
      height: 130px;
      position: absolute;
      margin-left: 15px;
      border-radius: 5px;
      margin-right: 15px;
      border:2px solid black;
      background: transparent;
      color: white;
      .slot-name {
        position: absolute;
        padding: 0;
        margin: 0;
        left: 0;
        width: 100%;
        text-align: center;
        bottom: 5px;
        text-transform: uppercase;
      }
      .equipped-name-view + .slot-name {
        
      }
      &:nth-child(1) {
        margin-top: 0;
        .slot-name {
          &:after {
            content: "Mainhand";
          }
        }
      }
      &:nth-child(2) {
        margin-top: 150px;
        .slot-name {
          &:after {
            content: "Offhand";
          }
        }
      }
      &:nth-child(3) {
        margin-top: 300px;
        .slot-name {
          &:after {
            content: "Head";
          }
        }
      }
      &:nth-child(4) {
        margin-top: 450px;
        .slot-name {
          &:after {
            content: "Bodies";
          }
        }
      }
      &:nth-child(5) {
        right: 0;
        .slot-name {
          &:after {
            content: "Necklace";
          }
        }
      }
      &:nth-child(6) {
        right: 0;
        margin-top: 150px;
        .slot-name {
          &:after {
            content: "Ring";
          }
        }
      }
      &:nth-child(7) {
        right: 0; 
        margin-top: 300px;
        .slot-name {
          &:after {
            content: "Accessory";
          }
        }
      }
      &:nth-child(8) {
        right: 0; 
        margin-top: 450px;
        .slot-name {
          &:after {
            content: "Pet";
          }
        }
      }
      .nothing-to-see-here {
        h1 {
          font-size: 40px;
        }
      }
      .equipped-image-view {
        width: 80%;
        height: auto;
        position: relative;
        left: 10%;
        margin-top: 10px;
        img {
          width: 50%;
        }
      }
      .equipped-name-view {
        position: relative;
        margin-top: 5px;
        font-size: 13px;
      }
    }
    .equipped-mythic {
      border: 2px solid mythic-red !important;
    }
    .equipped-set {
      border: 2px solid set-blue !important;
    }
    .equipped-legendary {
      border: 2px solid legendary-yellow !important;
    }
  }
}



.by-set-reveal {
  position: relative;
  left: 00px;
}
.by-set-reveal-sub {
  position: relative;
}

.by-slot-types span {
  font-size: 16px;
}

.by-main-buttons {
  width: 400px;
  height: 40px;
  left: 0;
  display: block;
  margin: 0 auto;
  background-color: #26303b;
  border:2px solid #a3b9d5;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  margin-bottom: 2px;
  text-transform: uppercase;
  @media screen and (max-width: 400px) {
    width: 98%;
    left: 1%;
  }
}



