@font-face {
  font-family: Wizard;
  src: url("./fonts/D8mage.woff");
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: linear-gradient(#56abd8, #27313e);
  padding: 0;
}
.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-header {
  background-color: transparent;
  height: 50px;
  padding: 15px 10px 0px 10px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}
.App-header .title {
  font-size: 1.3em;
  text-align: left;
  margin-top: -5px;
}
@media screen and (max-width: 620px) {
  .App-header .title {
    top: 0;
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 400px) {
  .App-header .title {
    font-size: 1em;
  }
}
.App-header .sharable-link {
  text-align: right;
  font-size: 1em;
  position: relative;
  top: -38px;
  margin-right: 40px;
  width: auto;
}
.App-header .sharable-link .url-to-copy {
  position: relative;
  width: 150px;
}
@media screen and (max-width: 700px) {
  .App-header .sharable-link {
    margin-right: 20px;
  }
}
@media screen and (max-width: 620px) {
  .App-header .sharable-link {
    top: 0;
    width: 100%;
    text-align: center;
  }
}
.container {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  font-family: 'Work Sans', sans-serif;
}
@media screen and (max-width: 900px) {
  .container {
    display: initial;
  }
}
.container .by-set-reveal,
.container .by-mythic-reveal,
.container .by-slot-reveal {
  width: 380px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}
@media screen and (max-width: 400px) {
  .container .by-set-reveal,
  .container .by-mythic-reveal,
  .container .by-slot-reveal {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}
.container .by-set-reveal li ul li,
.container .by-mythic-reveal li ul li,
.container .by-slot-reveal li ul li {
  cursor: pointer;
  transition: 0.5s;
}
.container .by-set-reveal li ul li:active,
.container .by-mythic-reveal li ul li:active,
.container .by-slot-reveal li ul li:active,
.container .by-set-reveal li ul li:hover,
.container .by-mythic-reveal li ul li:hover,
.container .by-slot-reveal li ul li:hover {
  box-shadow: 0 0 5px #000;
  border: 3px solid #fedc5b;
}
.container .left,
.container .right {
  flex-grow: 1;
  padding-top: 25px;
}
@media screen and (max-width: 900px) {
  .container .left,
  .container .right {
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .container .left {
    margin-bottom: 200px;
  }
}
.container .right {
  height: calc(100vh - 135px);
  min-height: 600px;
  overflow-y: scroll;
  color: #fff;
  padding-bottom: 100px;
}
@media screen and (max-width: 400px) {
  .container .right .equipment {
    width: 100%;
  }
}
.container .right .bonuses {
  width: 300px;
  height: 100px;
  height: auto;
  position: relative;
  margin: 0 auto;
  margin-top: 14px;
  padding-bottom: 5px;
}
.container .right .bonuses ul,
.container .right .bonuses li {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 400px) {
  .container .right .bonuses ul,
  .container .right .bonuses li {
    width: 98%;
    left: 1%;
  }
}
.container .right .bonuses .bonus-mythics,
.container .right .bonuses .bonus-sets,
.container .right .bonuses .bonus-ancients,
.container .right .bonuses .bonus-pets {
  padding: 20px 0px;
}
.container .right .bonuses .bonus-mythic-name {
  color: #fc0f40;
  text-shadow: 0 0 3px #000;
}
.container .right .bonuses .bonus-set-name {
  color: #84fffd;
  text-shadow: 0 0 3px #000;
}
.container .right .bonuses .bonus-pet-name {
  color: #84fffd;
  text-shadow: 0 0 3px #000;
}
.container .right .bonuses .bonus-ancients-name {
  color: #e0b24a;
  text-shadow: 0 0 3px #000;
}
.container .right .bonuses .bonus-pet-name-legendary {
  color: #ffd400 !important;
}
.container .right .set-information {
  display: block;
}
.container .right .set-information:hover {
  display: block;
}
.container .right .item-name {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1.05px;
  color: #fff;
}
@media screen and (max-width: 400px) {
  .container .right .item-name {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}
.container .right .click-on-this {
  display: block;
  cursor: pointer;
  letter-spacing: 1.05px;
  color: #fff;
}
.container .right .click-on-this:hover + .set-information {
  display: block;
}
.container .right .set-bonuses,
.container .right .mythic-bonus,
.container .right .mythic-slot,
.container .right .set-location,
.container .right .mythic-location {
  font-size: 13px;
}
@media screen and (max-width: 400px) {
  .container .right .by-set-reveal {
    width: 100%;
  }
}
.container .right .by-set-reveal-sub {
  padding-top: 15px;
}
.container .right .by-set-reveal-sub li {
  text-align: left;
  border: 1px solid #e7cfa8;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 2px;
}
.container .right .by-set-reveal-sub li:active {
  outline: 2px solid #fedc5b;
}
.container .right .by-set-reveal-sub span:nth-child(1) {
  color: #84fffd;
  text-shadow: 0 0 5px #000;
}
.container .right .by-mythic-reveal li,
.container .right .by-slot-types-reveal li {
  border: 2px solid #e7cfa8;
  margin-bottom: 1px;
}
.container .right .by-mythic-reveal li:active,
.container .right .by-slot-types-reveal li:active {
  border: 3px solid #fedc5b;
}
@media screen and (max-width: 400px) {
  .container .right .by-mythic-reveal,
  .container .right .by-slot-types-reveal {
    width: 100%;
  }
}
.container .right .by-mythic-reveal .item-name {
  color: #fc0f40;
  text-shadow: 0 0 5px #000;
}
@media screen and (max-width: 400px) {
  .container .right .by-mythic-reveal {
    width: 100%;
  }
}
.container .right .left-span-name {
  position: relative;
  left: 10px;
}
.container .right .right-span-slot {
  font-size: 13px;
  right: 10px;
  padding-top: 3px;
  position: absolute;
}
.container .right .by-slot-types ul {
  position: relative;
  left: -40px;
  margin-top: 15px;
}
@media screen and (max-width: 400px) {
  .container .right .by-slot-types ul {
    left: -2px;
  }
}
.container .right .by-slot-types .by-slot-types-reveal li {
  font-family: 'Work Sans', sans-serif;
  font-size: 13px;
}
.container .right .by-slot-types li {
  cursor: pointer;
}
.container .right .by-slot-types .by-slots-type-set,
.container .right .by-slot-types .by-slots-type-pet-set {
  color: #84fffd;
  text-shadow: 0 0 5px #000;
}
.container .right .by-slot-types .by-slots-type-mythic {
  color: #fc0f40;
  text-shadow: 0 0 5px #000;
}
.container .right .by-slot-types .by-slots-type-legendary,
.container .right .by-slot-types .bonus-pet-name-legendary,
.container .right .by-slot-types .by-slots-type-pet-legendary {
  color: #ffd400 !important;
  text-shadow: 0 0 5px #000;
}
.container .right .by-slot-types .by-slots-type-ancient {
  color: #e0b24a !important;
  text-shadow: 0 0 5px #000;
}
.container .equipped {
  width: 400px;
  min-height: 600px;
  height: auto;
  margin: 0 auto;
  padding-top: 15px;
  position: relative;
}
@media screen and (max-width: 400px) {
  .container .equipped {
    width: 100%;
  }
}
.container .equipped .equipped-container {
  width: 100px;
  height: 130px;
  position: absolute;
  margin-left: 15px;
  border-radius: 5px;
  margin-right: 15px;
  border: 2px solid #000;
  background: transparent;
  color: #fff;
  cursor: pointer;
}
.container .equipped .equipped-container .slot-name {
  position: absolute;
  padding: 0;
  margin: 0;
  left: 0;
  width: 100%;
  text-align: center;
  bottom: 5px;
  text-transform: uppercase;
}
.container .equipped .equipped-container:nth-child(1) {
  margin-top: 0;
}
.container .equipped .equipped-container:nth-child(1) .slot-name:after {
  content: "Mainhand";
}
.container .equipped .equipped-container:nth-child(2) {
  margin-top: 150px;
}
.container .equipped .equipped-container:nth-child(2) .slot-name:after {
  content: "Offhand";
}
.container .equipped .equipped-container:nth-child(3) {
  margin-top: 300px;
}
.container .equipped .equipped-container:nth-child(3) .slot-name:after {
  content: "Head";
}
.container .equipped .equipped-container:nth-child(4) {
  margin-top: 450px;
}
.container .equipped .equipped-container:nth-child(4) .slot-name:after {
  content: "Bodies";
}
.container .equipped .equipped-container:nth-child(5) {
  right: 0;
}
.container .equipped .equipped-container:nth-child(5) .slot-name:after {
  content: "Necklace";
}
.container .equipped .equipped-container:nth-child(6) {
  right: 0;
  margin-top: 150px;
}
.container .equipped .equipped-container:nth-child(6) .slot-name:after {
  content: "Ring";
}
.container .equipped .equipped-container:nth-child(7) {
  right: 0;
  margin-top: 300px;
}
.container .equipped .equipped-container:nth-child(7) .slot-name:after {
  content: "Accessory";
}
.container .equipped .equipped-container:nth-child(8) {
  right: 0;
  margin-top: 450px;
}
.container .equipped .equipped-container:nth-child(8) .slot-name:after {
  content: "Pet";
}
.container .equipped .equipped-container:nth-child(9) {
  margin-top: 600px;
  margin-left: 37%;
}
.container .equipped .equipped-container:nth-child(9) .slot-name:after {
  content: "Mount";
}
.container .equipped .equipped-container .nothing-to-see-here h1 {
  font-size: 40px;
}
.container .equipped .equipped-container .equipped-image-view {
  width: 80%;
  height: auto;
  position: relative;
  left: 10%;
  margin-top: 10px;
}
.container .equipped .equipped-container .equipped-image-view img {
  width: 50%;
}
.container .equipped .equipped-container .equipped-name-view {
  position: relative;
  margin-top: 5px;
  font-size: 13px;
}
.container .equipped .equipped-mythic {
  border: 2px solid #fc0f40 !important;
}
.container .equipped .equipped-set {
  border: 2px solid #84fffd !important;
}
.container .equipped .equipped-legendary {
  border: 2px solid #ffd400 !important;
}
.container .equipped .equipped-ancient {
  border: 2px solid #e0b24a !important;
}
.by-set-reveal {
  position: relative;
  left: 0px;
}
.by-set-reveal-sub {
  position: relative;
}
.by-slot-types span {
  font-size: 16px;
}
.by-main-buttons {
  width: 400px;
  height: 40px;
  left: 0;
  display: block;
  margin: 0 auto;
  background-color: #26303b;
  border: 2px solid #a3b9d5;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 2px;
  text-transform: uppercase;
}
@media screen and (max-width: 400px) {
  .by-main-buttons {
    width: 98%;
    left: 1%;
  }
}
.rune-div,
.enchant-div,
.stat-window,
.optimizer-window,
.about-window {
  width: 320px;
  height: auto;
  max-height: 350px;
  overflow-y: auto;
  padding: 0px 25px;
  padding-bottom: 50px;
  padding-right: 50px;
  border: 2px solid #2e3434;
  position: absolute;
  background: #56abd8;
  z-index: 11;
  top: 5%;
  left: -420px;
  transition: 1s;
  font-family: 'Roboto', sans-serif;
}
@media screen and (max-height: 400px) {
  .rune-div,
  .enchant-div,
  .stat-window,
  .optimizer-window,
  .about-window {
    height: 100vh;
  }
}
@media screen and (max-width: 414px) {
  .rune-div,
  .enchant-div,
  .stat-window,
  .optimizer-window,
  .about-window {
    width: 220px;
    top: 0;
    margin-top: -20px;
  }
}
.rune-div .x-close,
.enchant-div .x-close,
.stat-window .x-close,
.optimizer-window .x-close,
.about-window .x-close {
  position: absolute;
  right: 17px;
  top: 5px;
  color: #fff;
  font-size: 23px;
  cursor: pointer;
}
.stat-window {
  border: 1px solid #a1a9b4;
  color: #ff0;
  background: #171a1f;
  border-radius: 15px;
}
.stat-window ul {
  list-style: none;
  text-align: left;
  letter-spacing: 1.15px;
  text-shadow: 0 0 5px #000;
  width: 100%;
}
.stat-window ul li {
  padding-left: 0;
  width: 100%;
  padding-right: 0;
}
.stat-window ul li span {
  float: right;
  letter-spacing: 1.55px;
  text-align: right;
  margin-right: -45px;
}
.stat-window ul li span:after {
  content: "%";
}
.stat-window ul li .damage-output:after {
  content: "";
}
.rune-div .custom-select,
.enchant-div .custom-select,
.stat-window .custom-select,
.optimizer-window .custom-select,
.about-window .custom-select {
  position: relative;
  display: block;
  max-width: 400px;
  min-width: 180px;
  margin: 0 auto;
  margin-bottom: 2px;
  background-color: #26303b;
  border: 2px solid #a3b9d5;
  z-index: 10;
}
.rune-div .custom-select select,
.enchant-div .custom-select select,
.stat-window .custom-select select,
.optimizer-window .custom-select select,
.about-window .custom-select select {
  border: none;
  outline: none;
  background: transparent;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  margin: 0;
  display: block;
  width: 100%;
  padding: 12px 55px 12px 12px;
  font-size: 14px;
  color: #fff;
}
.rune-div .custom-select:after,
.enchant-div .custom-select:after,
.stat-window .custom-select:after,
.optimizer-window .custom-select:after,
.about-window .custom-select:after {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 100%;
  line-height: 38px;
  content: "∨";
  text-align: center;
  color: #fff;
  font-size: 24px;
  border-left: 1px solid #a3b9d5;
  z-index: -1;
}
.rune-div button,
.enchant-div button,
.optimizer-window button,
.about-window button {
  margin-top: 15px;
  margin-top: 15px;
  width: 80%;
  height: 35px;
  background-color: #26303a;
  color: #fff;
  border: 1px solid #a2b8d6;
  border-radius: 3px;
}
.sideNav {
  position: absolute;
  width: 150px;
  left: -130px;
  height: auto;
  z-index: 10;
  top: 5%;
}
.sideNav div {
  width: 100%;
  height: 40px;
  border: 1px solid #000;
  margin-top: 20px;
  left: 0;
  position: relative;
  padding-top: 20px;
  cursor: pointer;
  transition: 1s;
  background: #a2b8d6;
}
.sideNav div:hover {
  left: 130px;
}
@media screen and (min-width: 1500px) {
  .sideNav {
    left: 0px;
  }
  .sideNav div:hover {
    left: 0;
  }
}
@media screen and (max-width: 900px) {
  .sideNav {
    top: 26px;
    left: 0px;
  }
  .sideNav div:hover {
    left: 0;
  }
}
@media screen and (max-width: 700px) {
  .sideNav {
    left: -50px;
  }
  .sideNav div:hover {
    left: 50px;
  }
}
@media screen and (max-width: 620px) {
  .sideNav {
    left: -110px;
  }
  .sideNav div:hover {
    left: 110px;
  }
}
@media screen and (max-width: 460px) {
  .sideNav {
    left: -135px;
  }
  .sideNav div:hover {
    left: 140px;
  }
}
select.selector,
select option {
  background-color: #fff !important;
  color: #000 !important;
}
.stat-input {
  width: 50px;
  margin: 0 auto;
  position: relative;
  height: 35px;
  border: 1px solid #000;
}
.optimizer-window,
.about-window {
  padding-top: 10px;
  height: 340px;
}
.optimizer-window .notice-button-true,
.about-window .notice-button-true {
  background-color: #fc0f40;
}
.optimizer-window .dropdown,
.about-window .dropdown {
  padding-top: 10px;
}
.optimizer-window .dropdown select,
.about-window .dropdown select {
  margin-top: 5px;
  font-family: Arial;
  position: relative;
  width: 200px;
  height: 35px;
  border: 1px solid #000;
}
.optimizer-window .dropdown .equipment-options,
.about-window .dropdown .equipment-options {
  height: 105px;
}
.optimizer-window .dropdown .equipment-options option,
.about-window .dropdown .equipment-options option {
  height: 25px;
  border: 1px solid #000;
  position: relative;
  vertical-align: top;
  padding-top: 15px;
  text-align: center;
}
.optimizer-window .counter-testing,
.about-window .counter-testing {
  margin-top: 11px;
}
.optimizer-window .testing-space,
.about-window .testing-space {
  padding-top: 8px;
}
.optimizer-window ul li,
.about-window ul li {
  padding: 0;
  font-size: 14px;
}
.optimizer-window .notes,
.about-window .notes {
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
.menu {
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  font-family: 'Work Sans', sans-serif;
}
.container ul,
.menu ul,
.container li,
.menu li {
  padding: 0;
  margin: 0;
  width: 300px;
  list-style: none;
}
@media screen and (max-width: 400px) {
  .container ul,
  .menu ul,
  .container li,
  .menu li {
    width: 100% !important;
  }
}
.container li,
.menu li {
  padding: 15px 40px 15px 40px;
}
@media screen and (max-width: 400px) {
  .container li,
  .menu li {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}
.force-color-dropdown {
  background-color: #0bafe4 !important;
}
.about-page-ul {
  text-align: left;
  list-style: outside;
}
.about-page-ul li {
  padding: 0;
  padding-bottom: 15px;
}
.about-page-ul li:first-child {
  padding-top: 15px;
}
.about-page-ul li:before {
  content: "→";
  padding-right: 5px;
}
.about-page-ul .about-amendum {
  padding-left: 15px;
  font-size: 12px;
  padding-bottom: 5px;
  padding-top: 10px;
}
.about-page-ul .about-amendum:before {
  content: "";
  padding-right: 0px;
}
@media screen and (max-width: 450px) {
  .about-window section {
    width: 100%;
    margin: initial;
    padding: initial;
  }
  .about-window section ul {
    width: 220px;
    padding: 0;
    margin: initial;
    position: relative;
  }
  .about-window section ul li {
    width: 220px;
    position: relative;
  }
}
@media screen and (max-width: 450px) {
  .stat-window ul,
  .about-window ul {
    width: 110%;
    letter-spacing: 0.5px;
    font-size: 14px;
  }
}
@media screen and (max-width: 900px) {
  .current-bonuses {
    min-height: 250px;
  }
}
.button-hidden {
  display: none;
}
.filtering-tiers {
  padding-top: 15px;
}
.filter-button {
  margin-bottom: 10px;
  display: block;
  cursor: pointer;
  font-size: 16px;
}
.by-slot-filtering {
  padding-bottom: 15px;
}
.by-slot-filtering .tier-options-form {
  padding-top: 10px;
}
.by-slot-filtering .tier-options-form select {
  margin-top: 5px;
  font-family: Arial;
  position: relative;
  width: 200px;
  height: 35px;
  border: 1px solid #000;
}
.by-slot-filtering .tier-options-form .equipment-options {
  height: 155px;
}
.by-slot-filtering .tier-options-form .equipment-options option {
  height: 25px;
  border: 1px solid #000;
  position: relative;
  vertical-align: top;
  padding-top: 15px;
  text-align: center;
}
.filter-searching {
  padding-top: 15px;
  position: relative;
}
.equipment-options-by-tiers-checkboxes {
  display: flex;
  width: 250px;
  flex-direction: column-reverse;
  margin: 0 auto;
}
.equipment-options-by-tiers-checkboxes label {
  display: block;
}
.evolvium-table {
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #000;
  margin-top: 5px;
}
.evolvium-table tr {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 35px;
}
.evolvium-table td {
  border: 1px solid #008000;
}
.evolvium-table .selected {
  background: #ffa500;
}
