body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#56abd8), to(#27313e));
  background: linear-gradient(#56abd8, #27313e);
  padding: 0;
}
.App {
  text-align: center;
}
.App-logo {
  -webkit-animation: App-logo-spin infinite 20s linear;
          animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-header {
  background-color: transparent;
  height: 50px;
  padding: 15px 10px 0px 10px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}
.App-header .title {
  font-size: 1.3em;
  text-align: left;
  margin-top: -5px;
}
@media screen and (max-width: 620px) {
  .App-header .title {
    top: 0;
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 400px) {
  .App-header .title {
    font-size: 1em;
  }
}
.App-header .sharable-link {
  text-align: right;
  font-size: 1em;
  position: relative;
  top: -38px;
  margin-right: 40px;
  width: auto;
}
.App-header .sharable-link .url-to-copy {
  position: relative;
  width: 150px;
}
@media screen and (max-width: 700px) {
  .App-header .sharable-link {
    margin-right: 20px;
  }
}
@media screen and (max-width: 620px) {
  .App-header .sharable-link {
    top: 0;
    width: 100%;
    text-align: center;
  }
}
.container {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Work Sans', sans-serif;
}
@media screen and (max-width: 900px) {
  .container {
    display: initial;
  }
}
.container ul,
.container li {
  padding: 0;
  margin: 0;
  width: 300px;
  list-style: none;
}
@media screen and (max-width: 400px) {
  .container ul,
  .container li {
    width: 100%;
  }
}
.container li {
  padding: 15px 40px 15px 40px;
}
@media screen and (max-width: 400px) {
  .container li {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}
.container .by-set-reveal,
.container .by-mythic-reveal,
.container .by-slot-reveal {
  width: 380px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}
@media screen and (max-width: 400px) {
  .container .by-set-reveal,
  .container .by-mythic-reveal,
  .container .by-slot-reveal {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}
.container .left,
.container .right {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 25px;
}
@media screen and (max-width: 900px) {
  .container .left,
  .container .right {
    width: 100%;
  }
}
.container .right {
  height: calc(100vh - 135px);
  min-height: 600px;
  overflow-y: scroll;
  color: #fff;
  padding-bottom: 100px;
}
@media screen and (max-width: 400px) {
  .container .right .equipment {
    width: 100%;
  }
}
.container .right .bonuses {
  width: 300px;
  height: 100px;
  height: auto;
  position: relative;
  margin: 0 auto;
  margin-top: 14px;
  padding-bottom: 5px;
}
.container .right .bonuses ul,
.container .right .bonuses li {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 400px) {
  .container .right .bonuses ul,
  .container .right .bonuses li {
    width: 98%;
    left: 1%;
  }
}
.container .right .bonuses .bonus-mythics,
.container .right .bonuses .bonus-sets {
  padding: 20px 0px;
}
.container .right .bonuses .bonus-mythic-name {
  color: #fc0f40;
  text-shadow: 0 0 3px #000;
}
.container .right .bonuses .bonus-set-name {
  color: #84fffd;
  text-shadow: 0 0 3px #000;
}
.container .right .bonuses .bonus-pet-name {
  color: #84fffd;
  text-shadow: 0 0 3px #000;
}
.container .right .set-information {
  display: none;
}
.container .right .set-information:hover {
  padding-top: 5px;
  display: block;
}
.container .right .item-name {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1.05px;
  color: #fff;
}
@media screen and (max-width: 400px) {
  .container .right .item-name {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}
.container .right .click-on-this {
  display: block;
  cursor: pointer;
  letter-spacing: 1.05px;
  color: #fff;
}
.container .right .click-on-this:hover + .set-information {
  padding-top: 5px;
  display: block;
}
.container .right .set-bonuses,
.container .right .mythic-bonus,
.container .right .mythic-slot,
.container .right .set-location,
.container .right .mythic-location {
  font-size: 13px;
}
@media screen and (max-width: 400px) {
  .container .right .by-set-reveal {
    width: 100%;
  }
}
.container .right .by-set-reveal-sub {
  padding-top: 15px;
}
.container .right .by-set-reveal-sub li {
  text-align: left;
  border: 1px solid #e7cfa8;
  padding-left: 0;
  padding-right: 0;
  marign-bottom: 2px;
}
.container .right .by-set-reveal-sub li:active {
  border: 2px solid #fedc5b;
}
.container .right .by-set-reveal-sub span:nth-child(1) {
  color: #84fffd;
  text-shadow: 0 0 5px #000;
}
.container .right .by-mythic-reveal li,
.container .right .by-slot-types-reveal li {
  border: 2px solid #e7cfa8;
  margin-bottom: 1px;
}
.container .right .by-mythic-reveal li:active,
.container .right .by-slot-types-reveal li:active {
  border: 3px solid #fedc5b;
}
@media screen and (max-width: 400px) {
  .container .right .by-mythic-reveal,
  .container .right .by-slot-types-reveal {
    width: 100%;
  }
}
.container .right .by-mythic-reveal .item-name {
  color: #fc0f40;
  text-shadow: 0 0 5px #000;
}
@media screen and (max-width: 400px) {
  .container .right .by-mythic-reveal {
    width: 100%;
  }
}
.container .right .left-span-name {
  position: relative;
  left: 10px;
}
.container .right .right-span-slot {
  font-size: 13px;
  right: 10px;
  padding-top: 3px;
  position: absolute;
}
.container .right .by-slot-types ul {
  position: relative;
  left: -40px;
  margin-top: 15px;
}
@media screen and (max-width: 400px) {
  .container .right .by-slot-types ul {
    left: -2px;
  }
}
.container .right .by-slot-types .by-slot-types-reveal li {
  font-family: 'Work Sans', sans-serif;
  font-size: 13px;
}
.container .right .by-slot-types li {
  cursor: pointer;
}
.container .right .by-slot-types .by-slots-type-set {
  color: #84fffd;
  text-shadow: 0 0 5px #000;
}
.container .right .by-slot-types .by-slots-type-mythic {
  color: #fc0f40;
  text-shadow: 0 0 5px #000;
}
.container .equipped {
  width: 400px;
  min-height: 600px;
  height: auto;
  margin: 0 auto;
  padding-top: 15px;
  position: relative;
}
@media screen and (max-width: 400px) {
  .container .equipped {
    width: 100%;
  }
}
.container .equipped .equipped-container {
  width: 100px;
  height: 130px;
  position: absolute;
  margin-left: 15px;
  border-radius: 5px;
  margin-right: 15px;
  border: 2px solid #000;
  background: transparent;
  color: #fff;
}
.container .equipped .equipped-container .slot-name {
  position: absolute;
  padding: 0;
  margin: 0;
  left: 0;
  width: 100%;
  text-align: center;
  bottom: 5px;
  text-transform: uppercase;
}
.container .equipped .equipped-container:nth-child(1) {
  margin-top: 0;
}
.container .equipped .equipped-container:nth-child(1) .slot-name:after {
  content: "Mainhand";
}
.container .equipped .equipped-container:nth-child(2) {
  margin-top: 150px;
}
.container .equipped .equipped-container:nth-child(2) .slot-name:after {
  content: "Offhand";
}
.container .equipped .equipped-container:nth-child(3) {
  margin-top: 300px;
}
.container .equipped .equipped-container:nth-child(3) .slot-name:after {
  content: "Head";
}
.container .equipped .equipped-container:nth-child(4) {
  margin-top: 450px;
}
.container .equipped .equipped-container:nth-child(4) .slot-name:after {
  content: "Bodies";
}
.container .equipped .equipped-container:nth-child(5) {
  right: 0;
}
.container .equipped .equipped-container:nth-child(5) .slot-name:after {
  content: "Necklace";
}
.container .equipped .equipped-container:nth-child(6) {
  right: 0;
  margin-top: 150px;
}
.container .equipped .equipped-container:nth-child(6) .slot-name:after {
  content: "Ring";
}
.container .equipped .equipped-container:nth-child(7) {
  right: 0;
  margin-top: 300px;
}
.container .equipped .equipped-container:nth-child(7) .slot-name:after {
  content: "Accessory";
}
.container .equipped .equipped-container:nth-child(8) {
  right: 0;
  margin-top: 450px;
}
.container .equipped .equipped-container:nth-child(8) .slot-name:after {
  content: "Pet";
}
.container .equipped .equipped-container .nothing-to-see-here h1 {
  font-size: 40px;
}
.container .equipped .equipped-container .equipped-image-view {
  width: 80%;
  height: auto;
  position: relative;
  left: 10%;
  margin-top: 10px;
}
.container .equipped .equipped-container .equipped-image-view img {
  width: 50%;
}
.container .equipped .equipped-container .equipped-name-view {
  position: relative;
  margin-top: 5px;
  font-size: 13px;
}
.container .equipped .equipped-mythic {
  border: 2px solid #fc0f40 !important;
}
.container .equipped .equipped-set {
  border: 2px solid #84fffd !important;
}
.by-set-reveal {
  position: relative;
  left: 0px;
}
.by-set-reveal-sub {
  position: relative;
}
.by-slot-types span {
  font-size: 16px;
}
.by-main-buttons {
  width: 400px;
  height: 40px;
  left: 0;
  display: block;
  margin: 0 auto;
  background-color: #26303b;
  border: 2px solid #a3b9d5;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  margin-bottom: 2px;
  text-transform: uppercase;
}
@media screen and (max-width: 400px) {
  .by-main-buttons {
    width: 98%;
    left: 1%;
  }
}
